@page
@model MedicalSearchingPlatform.Pages.MedicalFacilityPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MedicalFacility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicalFacility.FacilityId" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalFacility.FacilityName" class="control-label"></label>
                <input asp-for="MedicalFacility.FacilityName" class="form-control" />
                <span asp-validation-for="MedicalFacility.FacilityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalFacility.Address" class="control-label"></label>
                <input asp-for="MedicalFacility.Address" class="form-control" />
                <span asp-validation-for="MedicalFacility.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalFacility.Infor" class="control-label"></label>
                <input asp-for="MedicalFacility.Infor" class="form-control" />
                <span asp-validation-for="MedicalFacility.Infor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalFacility.PhoneNumber" class="control-label"></label>
                <input asp-for="MedicalFacility.PhoneNumber" class="form-control" />
                <span asp-validation-for="MedicalFacility.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalFacility.ImageUrl" class="control-label"></label>
                <input asp-for="MedicalFacility.ImageUrl" class="form-control" />
                <span asp-validation-for="MedicalFacility.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalFacility.CreatedAt" class="control-label"></label>
                <input asp-for="MedicalFacility.CreatedAt" class="form-control" />
                <span asp-validation-for="MedicalFacility.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
