@page
@model MedicalSearchingPlatform.Pages.ReviewPage.ReviewFacilityModel
@{
    Layout = null;
}
<h2 class="justify-content-center">Review Facility</h2>

<form method="post" asp-page="/ReviewPage/ReviewFacility" onsubmit="return jQueyModalPost(event,this)">
    <input hidden asp-for="FacilityId" value="@Model.FacilityId" />
    <div class="rating">
        <label>Review:</label>
        <div class="stars">
            @for (int i = 5; i >= 1; i--)
            {
                <input type="radio" id="star-@i" asp-for="RatingValue" value="@i" required />
                <label for="star-@i">★</label>
            }
        </div>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" asp-for="Comment" class="form-control" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn-save-medical">Send Review</button>
</form>

<style>
    .stars {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
    }

        .stars input {
            display: none;
        }

        .stars label {
            font-size: 30px;
            color: #ddd;
            cursor: pointer;
        }

        .stars input:checked ~ label {
            color: gold;
        }
</style>