@page
@model MedicalSearchingPlatform.Pages.ArticlePage.IndexModel
@{
    ViewData["Title"] = "Edit";
}
<div class="edit-medical container mt-5">
    <h2 class="text-center">Edit Article</h2>

    <div class="card shadow-lg form-edit">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.ArticleId" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Article.Title" class="control-label fw-bold"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Article.Content" class="control-label fw-bold"></label>
                <input asp-for="Article.Content" class="form-control" />
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Article.AuthorId" class="control-label fw-bold"></label>
                <select asp-for="Article.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="Article.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Article.ArticleCategoryId" class="control-label fw-bold"></label>
                <select asp-for="Article.ArticleCategoryId" class="form-control" asp-items="ViewBag.ArticleCategoryId"></select>
                <span asp-validation-for="Article.ArticleCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Article.PublishedDate" class="control-label fw-bold"></label>
                <input asp-for="Article.PublishedDate" class="form-control" />
                <span asp-validation-for="Article.PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Article.Status" class="control-label fw-bold"></label>
                <input asp-for="Article.Status" class="form-control" />
                <span asp-validation-for="Article.Status" class="text-danger"></span>
            </div>
                <div class="form-group d-flex mt-3 gap-2 justify-content-center">
                    <input type="submit" value="Save" class="btn-save-medical" />
                    <div>
                        <a asp-page="./Index" class="btn-back">Back to List</a>
                    </div>
            </div>
        </form>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
