@page
@model MedicalSearchingPlatform.Pages.MedicalRecordPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="delete-medical container">
<h2 class="text-center">Create MedicalRecord</h2>
    <div class="card shadow-lg form-edit">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalRecord.PatientId" class="control-label fw-bold"></label>
                <select asp-for="MedicalRecord.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalRecord.DoctorId" class="control-label fw-bold">Doctor</label>
                @if (HttpContext.Session.GetString("UserRole") == "Doctor")
                {
                    <input type="text" class="form-control" value="@Model.CurrentDoctorName" readonly />
                    <input asp-for="MedicalRecord.DoctorId" type="hidden" />
                }
                else
                {
                    <select asp-for="MedicalRecord.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                }
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Diagnosis" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.Diagnosis" class="form-control" />
                <span asp-validation-for="MedicalRecord.Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Treatment" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.Treatment" class="form-control" />
                <span asp-validation-for="MedicalRecord.Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Notes" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.Notes" class="form-control" />
                <span asp-validation-for="MedicalRecord.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.AttachmentUrl" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.AttachmentUrl" class="form-control" />
                <span asp-validation-for="MedicalRecord.AttachmentUrl" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center gap-2">
                <input type="submit" value="Create" class="btn-save-medical" />
                <div>
                    <a asp-page="Index" class="btn-back">Back to List</a>
                </div>
            </div>
        </form>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}