@page
@model MedicalSearchingPlatform.Pages.MedicalRecordPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="create-account container mt-5">
<h2 class="text-center">Edit MedicalRecord</h2>

    <div class="card shadow-lg form-edit">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicalRecord.MedicalRecordId" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalRecord.PatientId" class="control-label fw-bold"></label>
                <select asp-for="MedicalRecord.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="MedicalRecord.PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalRecord.DoctorId" class="control-label fw-bold"></label>
                <select asp-for="MedicalRecord.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                <span asp-validation-for="MedicalRecord.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="MedicalRecord.RecordDate" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.RecordDate" class="form-control" />
                <span asp-validation-for="MedicalRecord.RecordDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Diagnosis" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.Diagnosis" class="form-control" />
                <span asp-validation-for="MedicalRecord.Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Treatment" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.Treatment" class="form-control" />
                <span asp-validation-for="MedicalRecord.Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Notes" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.Notes" class="form-control" />
                <span asp-validation-for="MedicalRecord.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.AttachmentUrl" class="control-label fw-bold"></label>
                <input asp-for="MedicalRecord.AttachmentUrl" class="form-control" />
                <span asp-validation-for="MedicalRecord.AttachmentUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MedicalRecord.IsShared" /> @Html.DisplayNameFor(model => model.MedicalRecord.IsShared)
                </label>
            </div>
            <div class="form-group d-flex justify-content-center gap-2">
                <input type="submit" value="Save" class="btn-save-medical" />
                <div>
                    <a asp-page="./Index" class="btn-back">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
